.search-user__wrapper {
    margin: 20px 0;
}

.search-user__label {
    display: block;
}

.search-user__wrapper_search {
    width: 100%;
}

.search-user__error {
    color: red;
}

.input-error {
    border: 1px solid red;
}

.input-error:focus {
    outline: red;
}

.user__avatar_wrapper {
    width: 100px;
    height: 100px;
}

.user__avatar {
    width: 100%;
    height: 100%;
}